/* PASSWORD RESET COMPLETE */
body.password-reset-complete {
    background: #f8f8f8;
}

.password-reset-complete #header {
    height: auto;
    padding: 15px 16px;
    justify-content: center;
}

.password-reset-complete #header h1 {
    font-size: 18px;
}

.password-reset-complete #header h1 a {
    color: #fff;
}

.password-reset-complete #content {
    padding: 20px 20px 0;
}

.password-reset-complete #container {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
}

.password-reset-complete #content-main {
    width: 100%;
}

.password-reset-complete .auth-switch-text {
    text-align: center;
    margin-top: 1em;
}

.password-reset-complete .auth-switch-text a {
    color: #007bff;
    text-decoration: none;
}

.password-reset-complete .auth-switch-text a:hover {
    text-decoration: underline;
}