# requirements.txt

# Core Django framework
Django~=4.2

# Database adapter for PostgreSQL
psycopg2-binary

# For handling environment variables from .env files
python-dotenv
python-decouple

# PayOS Python SDK for payment gateway integration
payos

# For making HTTP requests (used for Gemini API)
requests

# Django template filter for performing math operations
django-mathfilters

# Python Imaging Library fork, required for ImageField
Pillow