body {
    background: url("../images/products_bg.jpg") fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container-fluid {
    width: 90%;
}

.order-title {
    /* background-color: rgba(0, 255, 0, 0.7) */
    background-color: rgba(47, 130, 135, 0.7)
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

a.order-item {
    background-color: rgba(169, 169, 169, 0.9)
}

a:hover.order-item {
    background-color: rgba(255, 255, 255, 1.0)
}

a.order-price {
    height: 100px;
}
